<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express skills</title>

</head>
<body>
    <h1>skills</h1>
    <h3>Time <%= time %></h3>

    <ul>
      <% skills.forEach(function(s) { %>
        <li>
         <a href="/skills/<%= s.id%>"> <%= s.name %>
            - 
            <%= s.proficiency %>
          </a>
        </li>
      <% }); %>
    </ul>
    <a href="/skills/new">Add a new skill</a>

  </body>
</html>